// no ; in the end
2024/01/21 16:49:18 [emerg] 6997#6997: invalid parameter "server_name" in /etc/nginx/nginx.conf:37
nginx: configuration file /etc/nginx/nginx.conf test failed
// lol in the middle
2024/01/21 16:51:59 [emerg] 7152#7152: unknown directive "lol" in /etc/nginx/nginx.conf:37
nginx: configuration file /etc/nginx/nginx.conf test failed
// location miss last }  or no index or miss / in "location / {" 
2024/01/21 16:54:58 [emerg] 7390#7390: invalid number of arguments in "location" directive in /etc/nginx/nginx.conf:43
nginx: configuration file /etc/nginx/nginx.conf test failed
2024/01/21 16:55:32 [emerg] 7433#7433: invalid number of arguments in "location" directive in /etc/nginx/nginx.conf:43
nginx: configuration file /etc/nginx/nginx.conf test failed
// when no } in the end
2024/01/21 17:12:34 [emerg] 8488#8488: unexpected end of file, expecting "}" in /etc/nginx/nginx.conf:117
nginx: configuration file /etc/nginx/nginx.conf test failed
// when no { in the beg
2024/01/21 17:13:03 [emerg] 8530#8530: directive "server" has no opening "{" in /etc/nginx/nginx.conf:36
nginx: configuration file /etc/nginx/nginx.conf test failed
// when lol is set to client max body size
2024/01/21 17:46:34 [emerg] 9311#9311: "client_max_body_size" directive invalid value in /etc/nginx/nginx.conf:48
nginx: configuration file /etc/nginx/nginx.conf test failed
// port too high
2024/01/21 17:47:35 [emerg] 9432#9432: invalid port in "188000" of the "listen" directive in /etc/nginx/nginx.conf:36
nginx: configuration file /etc/nginx/nginx.conf test failed
// error_page 50
2024/01/21 17:51:27 [emerg] 9690#9690: value "50" must be between 300 and 599 in /etc/nginx/nginx.conf:52
nginx: configuration file /etc/nginx/nginx.conf test failed
// listen 8080 60;
nginx: [emerg] invalid parameter "60" in /opt/homebrew/etc/nginx/nginx.conf:36
nginx: configuration file /opt/homebrew/etc/nginx/nginx.conf test failed
